@font-face {
    font-family: 'get_schwiftyregular';
    src: url('fonts/get_schwifty-webfont.woff2') format('woff2'),
         url('fonts/get_schwifty-webfont.woff') format('woff'),
         url('fonts/get_schwifty.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: url("../assets/img/background_image_desktop_lighter.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'get_schwiftyregular', serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;

    letter-spacing: 2px;
}

.title-container{
    text-align: center;
    position: absolute;
    left: 2rem;
    top: 2rem;
}

h1{
    color: #488EB6;
    font-size: 5.5rem;
    text-shadow:  10px 10px 5px #000;
    margin-bottom: 20px;
}

h2{
    color: #171636;
    font-size: 3.5rem;
}

.button-container{
    position: absolute;
    bottom: 10rem;
    width: 33.33%;
    display: flex;
    justify-content: space-between;
}

.button-container a {
    width: 200px;
    background-color: #68af1f;
    border: none;
    color: #d7dadd;
    padding: 5px 10px;
    border-radius: 5px;

    box-shadow: 10px 10px 30px 5px #000;
    cursor: pointer;
    transition-duration: 0.4s;

    text-align: center;
    font-family: 'get_schwiftyregular', serif;
    font-size: 2rem;
    letter-spacing: 2px;
    line-height: 1.5;
    text-decoration: none;
}

.button-container a:hover{
    background-color: #346304;
    transform: scale(1.1)
}

.leaderboard{
    text-align: center;
    position: absolute;
    top: 90%;
}