/*
=================================
Fonts
=================================
*/
@font-face {
    font-family: 'get_schwiftyregular';
    src: url('fonts/get_schwifty-webfont.woff2') format('woff2'),
         url('fonts/get_schwifty-webfont.woff') format('woff'),
         url('fonts/get_schwifty.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*
=================================
Variables
=================================
*/
:root {
    --clr-primary: #488EB6;
    --clr-secondary: #171636;
    --clr-button: #68AF1F;
    --clr-darkerbutton:#346304;
    --clr-white: #D7DADD;
    --clr-purple: #8D55AE;
    --ff-title: 'get_schwiftyregular', serif;
    --ff-paragraph: 'roboto', sans-serif;
}

/*
=================================
Global CSS
=================================
*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 80vh;
    background-image: url("./assets/img/background_image_mobile.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    font-family: var(--ff-title);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: var(--clr-button);
    letter-spacing: 2px;
}

a,
a:hover,
a:active,
a:focus,
a:active:focus {
    text-decoration: none;
}

.title-container{
    display: none;
    text-align: center;
}

h1{
    color: var(--clr-primary);
    font-size: 5.5rem;
    text-shadow:  10px 10px 5px #000;
    margin-bottom: 20px;
}

h2{
    color: var(--clr-secondary);
    font-size: 3.5rem;
}

.button-container{
    position: absolute;
    bottom: 5rem;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.button-container a {
    display: flex;
    width: 300px;
    background-color: var(--clr-button);
    border: none;
    color: var(--clr-white);
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 20px 0 20px;;
    box-shadow: 10px 10px 30px 5px #000;
    cursor: pointer;
    transition-duration: 0.4s;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: var(--ff-paragraph);
    font-size: 1.3rem;
    letter-spacing: 2px;
    line-height: 1.5;
    text-decoration: none;
}

.button-container a:hover{
    background-color: var(--clr-darkerbutton);
    transform: scale(1.1)
}

/*
=================================
Leader Board
=================================
*/
.board-container {
	width: 500px;
    background-color:var(--clr-button);
	height: auto;
	border-radius: 10px;
    font-family: var(--ff-paragraph);
	box-shadow:  10px 10px 30px 5px #000;
    position: absolute;
    top: 90%;
    overflow: hidden;
}

.board-container .head{
    font-family: var(--ff-title);
    font-size: 2rem;
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--clr-white);
    letter-spacing: 10px;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board-container .head i{
    margin-right: 5px;
}

.board-container ol{
    width: 100%;
}

.board-container li{
    display: flex;
    justify-content: space-between;
    padding: 10px 0 10px 10px;
    font-size: 1.2rem;
}

.board-container li:nth-child(1){
    background-color: #B1739D;
}

.board-container li:nth-child(2){
    background-color: #A569A3;
}

.board-container li:nth-child(3){
    background-color: #995FA8;
}

.board-container li:nth-child(4){
    background-color: #935AAB;
}

.board-container li:nth-child(5){
    background-color: #8D55AE;
}

/*
=================================
Leader Board
=================================
*/

footer{
    background-color: var(--clr-primary);
    height: 80px;
    width: 100%;
    position: absolute;
    bottom: -25%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*
=================================
Modal
=================================
*/
.modal{
    display: none;
    position: fixed;
    z-index: 99;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-container {
    position: relative;
    background-color: var(--clr-primary);
    font-family: var(--ff-paragraph);
    margin: auto;
    padding: 20px;
    border: 5px solid var(--clr-purple);
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  /* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }

/* The Close Button */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

#congrats-modal h3{
    margin-top: 20px;
    margin-bottom: 40px;
    
}
.timer{
    text-align: center;
    font-size: 1.5rem;
}
.modal-header h3{
    text-align: center;
    font-family: var(--ff-title);
    font-size: 2rem;
    color: var(--clr-button);
}

.modal-body {
    padding: 2px 16px;
}

.modal-container ul{
    list-style: none;
    text-align: center;
}
.modal-container ul li{
    margin: 20px 0;
}
.modal-container ul span{
    font-weight: 800;
    text-align: center;
}

.level-card {
    /* Add shadows to create the "card" effect */
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
    border-radius: 5px;
    margin: 20px 20px;
    background-color: var(--clr-button);
    transition-duration: 0.4s;
}

.level-card:hover{
    transform: scale(1.1);
}

.level-card img {
    border-radius: 5px 5px 0 0;
  }
  
/* On mouse-over, add a deeper shadow */
.level-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
}
  
/* Add some padding inside the card container */
.caption {
    font-size: 1.5rem;
    font-family: var(--ff-title);
    padding: 2px 16px;
    text-align: center;
    color: var(--clr-white);
}

#level-cards-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/*game*/

.grid{
    background-color: var(--clr-white);
    border-radius: 1.5em;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	height: auto;
	margin: 2rem 0 2rem 0;
	padding: 0.5rem;
	width: auto;
}

.cards{
    cursor: pointer;
    border-radius: 0.5em;
    border: solid 1px var(--clr-purple);
    width: 25%;

}

.grid,
.cards{
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}
/* 
=================================
Media Queries
=================================
*/
@media screen and (min-width: 767px) {
    body {
        height: 80vh;
        background-image: url("./assets/img/background_image_desktop_lighter.jpg");
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
    }
    .title-container{
        display: initial;
    }
    .modal-container {
        width: 75%;
      }
    .level-card {
        /* Add shadows to create the "card" effect */
        width: 25%;
    }
    .modal-container {
        margin: auto;
        padding: 10px;
      }
    .cards{
        width: 100px;
        margin-bottom: 2px;
    }
    .button-container a{
        font-size: 1.6rem;
    }
}
@media screen and (min-width: 999px) {
    .title-container{
        position: absolute;
        top: 10%;
        left: 10%;
    }
    .button-container{
        width: 50%;
    }
    .modal-header h3{
    font-size: 3rem;
    }
    .level-card{
        width: 15%;
    }
    .cards{
        margin: 5px;
        align-self: stretch;
    }

}
